body{
    background-image: linear-gradient(to top right, #00ff00 0%, #008000 100%);
    font-family: Arial, sans=serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.titulo h1{
    margin: 0;
    color: white; /* s처 para o contraste*/
}
.botoes button{
    background-color: #444; /*cor de fundo do bot찾o*/
    color: #9acd32; /*cor do texto do bot찾o*/
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.botoes button:hover{
    background-color: #555; /*cor de fundo do bot찾o ao passar o mouse*/
}